body {
  .rstm-search {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .rstm-tree-item-group {
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .rstm-tree-item--active {
    box-shadow: none;
    background-color: #eaf6fa;
    color: #000;
  }
  .rstm-tree-item {
    border-color: rgba(0, 0, 0, 0.1);
  }
}
