/*******************/
// Theme Fonts
/********************/
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600&display=swap");
$font-family-sans-serif: "Rubik", sans-serif;
/*******************/
// Theme Colors
/********************/
$primary: #009efb;
$info: #604dcf;
$danger: #f62d51;
$success: #39c449;
$warning: #ffbc34;
$dark: #021a33;
$light: #07294b;
$secondary: #001e3c;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "light-primary": #1e446d,
  "light-success": #155856,
  "light-info": #312578,
  "light-warning": #5a5446,
  "light-danger": #44252b,
  "light-secondary": #121927,
);
// scss-docs-start gray-color-variables
$white: #001e3c !default;
$gray-100: #001e3c !default;
$gray-200: #0a2744 !default;
$gray-300: #2f445a !default;
$gray-400: #4d6277 !default;
$gray-500: #66788a !default;
$gray-600: #808f9e !default;
$gray-700: #99a5b1 !default;
$gray-800: #b3bcc5 !default;
$gray-900: #e6e9ec !default;
$black: rgba(255, 255, 255, 0.9) !default;

/*******************/
// Theme Text Contrast
/********************/
$min-contrast-ratio: 1.6;
$enable-shadows: false !default;
/*******************/
// Theme body bg & text color
/********************/
$body-bg: $gray-200 !default;
$body-color: $gray-900 !default;
$btn-focus-box-shadow: 0;
$gradient: linear-gradient(-90deg, rgba($white, 0.5), rgba($white, 0)) !default;

// heading fonts setting
$h1-font-size: 36px !default;
$h2-font-size: 24px !default;
$h3-font-size: 21px !default;
$h4-font-size: 18px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;

/*******************/
// Theme common variable
/********************/
$border-radius: 0.3rem !default;
$box-shadow: 0;
$headings-font-weight: 400 !default;
$font-size-base: 0.9rem !default; // Assumes the browser default, typically `16px`
$h5-font-size: $font-size-base * 1.1 !default;
$card-border-width: 0 !default;
$card-box-shadow: $box-shadow !default;
$card-spacer-y: 1.25rem !default;
$card-spacer-x: 1.25rem !default;
$grid-gutter-width: 1.85rem !default;

$input-bg: $white !default;
$badge-font-weight: 400 !default;
$badge-padding-y: 4px !default;
$badge-padding-x: 10px !default;

$card-bg: $dark !default;
$form-range-track-bg: $gray-300;
$badge-color: #fff;
$list-group-bg: $dark;
$table-bg: $dark;


// Progress bars
$progress-height: 6px !default;

/*******************/
// Theme btn
/********************/
$btn-focus-width: 0px;

body .btn {
  color: $black;

  &:hover,
  &.active,
  &.disabled,
  &:focus {
    color: $black;
  }
}

$btn-box-shadow: none !default;
/*******************/
// Theme sidebar width
/********************/
$sidebarWidth: 260px;
$sidebartext: #ffffff;
$sidebartextlight: rgba(255, 255, 255, 0.6);
$miniSidebarWidth: 80px;

$topbarHeight: 60px;

$dropdown-border-width: 0 !default;
$dropdown-box-shadow: $box-shadow !default;
$dropdown-link-hover-bg: $gray-100 !default;

$enable-negative-margins: true;

$table-cell-padding-y: 0.75rem !default;
$table-cell-padding-x: 0.75rem !default;

body {

  .ReactTable .rt-thead.-filters input,
  .ReactTable .rt-thead.-filters select,
  .ReactTable .-pagination input,
  .ReactTable .-pagination select {
    background: $light;
    color: #fff;
  }

  .ReactTable .-pagination .-btn {
    color: #fff;
  }

  .text-white,
  .card-title.text-white {
    color: #fff !important;
  }

  .text-dark,
  .link-dark {
    color: $black !important;
  }

  .sidebarArea {
    .sidebarBox {

      .nav-link,
      .navCaption {
        color: #fff;
      }
    }
  }

  .horizontalNav {

    .nav-link,
    .navCaption {
      color: #fff;
    }
  }

  .apexcharts-text tspan {
    fill: $gray-600;
  }

  // calendar
  .rbc-off-range-bg {
    background: $light;
  }

  .rbc-today {
    background-color: #8fbece;
  }

  .rbc-month-row+.rbc-month-row,
  .rbc-day-bg+.rbc-day-bg,
  .rbc-header,
  .rbc-month-view,
  .rbc-toolbar button,
  .rbc-time-content>*+*>* {
    border-color: $gray-500;
  }

  .rbc-event:focus,
  .rbc-day-slot .rbc-background-event:focus {
    outline: none;
  }

  .rbc-toolbar button {
    color: rgba(255, 255, 255, 0.5);
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #d2d2d20d;
  }

  .rbc-time-header.rbc-overflowing {
    border-right: 1px solid $gray-500;
  }

  .rbc-time-view,
  .rbc-agenda-view table.rbc-agenda-table {
    border: 1px solid $gray-500;
  }

  .rbc-timeslot-group,
  .rbc-agenda-view table.rbc-agenda-table thead>tr>th {
    border-bottom: 1px solid $gray-500;
  }

  .rbc-time-content>*+*>*,
  .rbc-header+.rbc-header,
  .rbc-agenda-view table.rbc-agenda-table tbody>tr>td+td {
    border-left: 1px solid $gray-500;
  }

  .rbc-day-slot .rbc-time-slot,
  .rbc-agenda-view table.rbc-agenda-table tbody>tr+tr {
    border-top: 1px solid $gray-500;
  }

  .rbc-time-content {
    border-top: 2px solid $gray-500;
  }

  .card-img-overlay .text-dark {
    color: rgba(0, 0, 0, 0.9) !important;
  }
  .bootstrap-switch{
    border-color: $light;
  }
  .bootstrap-switch .bootstrap-switch-label{
    color: #fff;
    background: $light;
  }
  .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{
    background: #337ab7;
    color: #fff;
  }
}